#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [59]:
import pandas as pd
df = pd.read_csv("../data/supermarket_sales.csv")
type(df)

pandas.core.frame.DataFrame

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [60]:
df.groupby('branch')['revenue'].sum().sort_values(ascending = False)

branch
C    110568.7065
A    106200.3705
B    106197.6720
Name: revenue, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [61]:
df.groupby(['city', 'branch'])['revenue'].sum().sort_values(ascending = False)

city       branch
Naypyitaw  C         110568.7065
Yangon     A         106200.3705
Mandalay   B         106197.6720
Name: revenue, dtype: float64

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [62]:
df.columns

Index(['invoice_id', 'branch', 'city', 'customer_type', 'gender_customer',
       'product_line', 'unit_cost', 'quantity', '5pct_markup', 'revenue',
       'date', 'time', 'payment_method', 'cogs', 'gm_pct', 'gross_income',
       'rating'],
      dtype='object')

In [63]:
invoices_by_category = pd.pivot_table(
    df, 
    index = 'branch',
    columns = 'product_line',
    values = 'invoice_id',
    aggfunc = 'count'
)
invoices_by_category

product_line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [64]:
branch = invoices_by_category['Electronic accessories'].idxmax()
count = invoices_by_category['Electronic accessories'].max()
branch, count

('A', np.int64(60))

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ì—ñ–ø–æ—Ç–µ–∑–∞ 1 
–ß–∏ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è —á–∞—Å—Ç–æ—Ç–∞ –ø–æ–∫—É–ø–æ–∫ –∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ —Å–ø–æ—Å–æ–±—É –æ–ø–ª–∞—Ç–∏?

In [65]:
payment_method = df.payment_method.value_counts().sort_values(ascending = False)
payment_method

payment_method
Ewallet        345
Cash           344
Credit card    311
Name: count, dtype: int64

–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ —Å–ø–æ—Å–æ–±–∞–º–∏ –æ–ø–ª–∞—Ç–∏ —î –ø—Ä–∏–±–ª–∏–∑–Ω–æ –æ–¥–Ω–∞–∫–æ–≤–æ—é, —Ç–æ–º—É —Å–∞–º –ø–æ —Å–æ–±—ñ —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ –Ω–µ –º–∞—î —ñ—Å—Ç–æ—Ç–Ω–æ–≥–æ –≤–ø–ª–∏–≤—É –Ω–∞ —á–∞—Å—Ç–æ—Ç—É –ø–æ–∫—É–ø–æ–∫. –î–æ—Ü—ñ–ª—å–Ω–æ –¥–æ–¥–∞—Ç–∫–æ–≤–æ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —Ç–∞ –º–∞—Ä–∂—É –∑–∞ –∫–æ–∂–Ω–∏–º –º–µ—Ç–æ–¥–æ–º –æ–ø–ª–∞—Ç–∏, —â–æ–± –æ—Ü—ñ–Ω–∏—Ç–∏ —ó—Ö–Ω—é —Ñ—ñ–Ω–∞–Ω—Å–æ–≤—É –µ—Ñ–µ–∫—Ç–∏–≤–Ω—ñ—Å—Ç—å –¥–ª—è –±—ñ–∑–Ω–µ—Å—É.

In [66]:
mean_revenue_by_payment = df.groupby('payment_method')['revenue'].mean().round(2)
mean_revenue_by_payment

payment_method
Cash           326.18
Credit card    324.01
Ewallet        318.82
Name: revenue, dtype: float64

In [67]:
mean_gross_income_by_payment = df.groupby('payment_method')['gross_income'].mean().round(2)
mean_gross_income_by_payment

payment_method
Cash           15.53
Credit card    15.43
Ewallet        15.18
Name: gross_income, dtype: float64

–ê–Ω–∞–ª—ñ–∑ –ø–æ–∫–∞–∑–∞–≤, —â–æ —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ E-wallet –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—î—Ç—å—Å—è –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ, –æ–¥–Ω–∞–∫ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —Ç–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π –ø—Ä–∏–±—É—Ç–æ–∫ –¥–ª—è —Ü—å–æ–≥–æ –º–µ—Ç–æ–¥—É –Ω–µ —î –Ω–∞–π–≤–∏—â–∏–º–∏. –ù–∞–π–±—ñ–ª—å—à –≤–∏–≥—ñ–¥–Ω—ñ –¥–ª—è –±—ñ–∑–Ω–µ—Å—É –ø–æ–∫—É–ø–∫–∏ –≤ —Å–µ—Ä–µ–¥–Ω—å–æ–º—É –∑–¥—ñ–π—Å–Ω—é—é—Ç—å—Å—è –ø—Ä–∏ –æ–ø–ª–∞—Ç—ñ –≥–æ—Ç—ñ–≤–∫–æ—é, —â–æ –º–æ–∂–µ —Å–≤—ñ–¥—á–∏—Ç–∏ –ø—Ä–æ –±—ñ–ª—å—à–∏–π —Ä–æ–∑–º—ñ—Ä –∫–æ—à–∏–∫–∞ –ø—Ä–∏ —Ç–∞–∫–æ–º—É —Å–ø–æ—Å–æ–±—ñ –æ–ø–ª–∞—Ç–∏.
–î–æ—Ü—ñ–ª—å–Ω–æ –∑–±–µ—Ä—ñ–≥–∞—Ç–∏ –∑—Ä—É—á–Ω—ñ—Å—Ç—å –≥–æ—Ç—ñ–≤–∫–æ–≤–æ–≥–æ –º–µ—Ç–æ–¥—É –æ–ø–ª–∞—Ç–∏, –∞ —Ç–∞–∫–æ–∂ —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –∑–±—ñ–ª—å—à–µ–Ω–Ω—è —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É –ø—Ä–∏ –±–µ–∑–≥–æ—Ç—ñ–∫–æ–≤–æ–º—É —Å–ø–æ—Å–æ–±—ñ –æ–ø–ª–∞—Ç–∏, –∑–∞–ª—É—á–∞—é—á–∏ –∞–∫—Ü—ñ—ó —á–∏ –±–æ–Ω—É—Å–∏.

–ù–∞ –¥–∞–Ω–æ–º—É –º–æ–º–µ–Ω—Ç—ñ –≤—ñ–¥—á—É–ª–∞, —â–æ –º–∞—î –±—É—Ç–∏ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–∞ –∑–∞–¥–∞—á–∞/–ø—Ä–æ–±–ª–µ–º–∞/–ø–∏—Ç–∞–Ω–Ω—è –≤—ñ–¥ –±—ñ–∑–Ω–µ—Å—É –¥–æ –∞–Ω–∞–ª—ñ—Ç–∏–∫–∞, —â–æ –≤—ñ–¥ —Ü—å–æ–≥–æ –≤—ñ–¥—à—Ç–æ–≤—Ö—É–≤—Ç–∏—Å—å —Ç–∞ —Ñ–æ–º—É–ª—é–≤–∞—Ç–∏ –≥—ñ–ø–æ—Ç–µ–∑–∏. –¢–æ–∂ –ø—Ä–∏–ø—É—Å—Ç–∏–º–æ, —â–æ –ø–æ—Å—Ç–∞–≤–¥–µ–Ω–∞ –∑–∞–¥–∞—á–∞:
"–î–æ—Å–ª—ñ–¥–∏—Ç–∏ –º–µ—Ç–æ–¥–∏ –æ–ø–ª–∞—Ç–∏ –Ω–∞ –≤–ø–ª–∏–≤–æ—Å–≤—ñ—Å—å –Ω–∞ –ø—Ä–∏–±—É—Ç–æ–∫, —Ç–∞ –≤–∏—è–≤–∏—Ç–∏ —Å–ª–∞–±–∫—ñ –º—ñ—Å—Ü—è, –¥–µ –º–æ–∂–Ω–∞ –ø–æ–∫—Ä–∞—â–∏—Ç–∏ —Ñ—ñ–Ω–∞–Ω—Å–æ–≤–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç.

–ì—ñ–ø–æ—Ç–µ–∑–∞ 1. ¬´–ß–∏ –≤—ñ–¥—Ä—ñ–∑–Ω—è—é—Ç—å—Å—è —á–∞—Å—Ç–æ—Ç–∞ –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—Å—Ç—å –∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ –º–µ—Ç–æ–¥—É –æ–ø–ª–∞—Ç–∏?¬ª

In [68]:
df.groupby('payment_method').agg(
    purchases = ('invoice_id', 'count'),
    arg_revenue = ('revenue', 'mean'),
    arg_gross_income = ('gross_income', 'mean'),
    total_gross_income = ('gross_income', 'sum')
).round(2)

                purchases  arg_revenue  arg_gross_income  total_gross_income
payment_method
Cash                  344       326.18             15.53             5343.17
Credit card           311       324.01             15.43             4798.43
Ewallet               345       318.82             15.18             5237.77

–ü–æ –∑–≤–µ–¥–µ–Ω—ñ–π —Ç–∞–±–ª–∏—Ü—ñ –±–∞—á–∏–º–æ, —â–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –º–µ—Ç–æ–¥–∞–º–∏ –æ–ø–ª–∞—Ç–∏ —î –ø–æ–¥—ñ–±–Ω–æ—é, –æ–¥–Ω–∞–∫ —Ñ—ñ–Ω–∞–Ω—Å–æ–≤—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ –≤—ñ–¥—Ä—ñ–∑–Ω—è—é—Ç—å—Å—è.

–°–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ E-wallet –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—î—Ç—å—Å—è –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ, –ø—Ä–æ—Ç–µ –≤—ñ–Ω –º–∞—î –Ω–∞–π–Ω–∏–∂—á–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —Ç–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑ –æ–¥–Ω—ñ—î—ó –ø–æ–∫—É–ø–∫–∏. –í–æ–¥–Ω–æ—á–∞—Å –æ–ø–ª–∞—Ç–∞ –≥–æ—Ç—ñ–≤–∫–æ—é  —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏–∑—É—î—Ç—å—Å—è –Ω–∞–π–≤–∏—â–∏–º —Å–µ—Ä–µ–¥–Ω—ñ–º —á–µ–∫–æ–º —Ç–∞ —Å–µ—Ä–µ–¥–Ω—ñ–º –ø—Ä–∏–±—É—Ç–∫–æ–º, —â–æ —Ä–æ–±–∏—Ç—å —Ü–µ–π –º–µ—Ç–æ–¥ –Ω–∞–π–±—ñ–ª—å—à –≤–∏–≥—ñ–¥–Ω–∏–º –¥–ª—è –±—ñ–∑–Ω–µ—Å—É –∑ —Ç–æ—á–∫–∏ –∑–æ—Ä—É –ø—Ä–∏–±—É—Ç–∫–æ–≤–æ—Å—Ç—ñ.

–ú–µ—Ç–æ–¥ –æ–ø–ª–∞—Ç–∏ Credit card –∑–∞–π–º–∞—î –ø—Ä–æ–º—ñ–∂–Ω–µ –ø–æ–ª–æ–∂–µ–Ω–Ω—è —è–∫ –∑–∞ —á–∞—Å—Ç–æ—Ç–æ—é –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è, —Ç–∞–∫ —ñ –∑–∞ —Ä—ñ–≤–Ω–µ–º –ø—Ä–∏–±—É—Ç–∫–æ–≤–æ—Å—Ç—ñ.

–¢–∞–∫–∏–º —á–∏–Ω–æ–º, –º–æ–∂–Ω–∞ –∑—Ä–æ–±–∏—Ç–∏ –≤–∏—Å–Ω–æ–≤–æ–∫, —â–æ –≤ –¥–∞–Ω–æ–º—É –≤–∏–ø–∞–¥–∫—É —á–∞—Å—Ç–æ—Ç–∞ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è —Å–ø–æ—Å–æ–±—É –æ–ø–ª–∞—Ç–∏ –Ω–µ –æ–∑–Ω–∞—á–∞—î –π–æ–≥–æ —Ñ—ñ–Ω–∞–Ω—Å–æ–≤–æ—é –µ—Ñ–µ–∫—Ç–∏–≤–Ω—ñ—Å—Ç—é. –î–ª—è –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—è –∑–∞–≥–∞–ª—å–Ω–æ—ó –ø—Ä–∏–±—É—Ç–∫–æ–≤–æ—Å—Ç—ñ –±—ñ–∑–Ω–µ—Å—É –¥–æ—Ü—ñ–ª—å–Ω–æ –∑–±–µ—Ä—ñ–≥–∞—Ç–∏ –∑—Ä—É—á–Ω—ñ—Å—Ç—å –±–µ–∑–≥–æ—Ç—ñ–≤–∫–æ–≤–∏—Ö –º–µ—Ç–æ–¥—ñ–≤ –æ–ø–ª–∞—Ç–∏, –≤–æ–¥–Ω–æ—á–∞—Å —Å—Ç–∏–º—É–ª—é—é—á–∏ –∑–±—ñ–ª—å—à–µ–Ω–Ω—è —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É –¥–ª—è –ø–æ–∫—É–ø–æ–∫ –∑ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º E-wallet.

–ì—ñ–ø–æ—Ç–µ–∑–∞ 2. ¬´–ß–∏ –æ–∑–Ω–∞—á–∞—î –±—ñ–ª—å—à–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –±—ñ–ª—å—à—É –º–∞—Ä–∂—É –¥–ª—è –±—ñ–∑–Ω–µ—Å—É –≤ –º–µ–∂–∞—Ö –∫–æ–∂–Ω–æ–≥–æ –º–µ—Ç–æ–¥—É –æ–ø–ª–∞—Ç–∏?¬ª

In [69]:
df.groupby('payment_method').agg(
    agr_revenue = ('revenue', 'mean'),
    agr_gross_income = ('gross_income', 'mean'),
    agr_margin_pct = ('gm_pct', 'mean')
).round(2)

                agr_revenue  agr_gross_income  agr_margin_pct
payment_method
Cash                 326.18             15.53            4.76
Credit card          324.01             15.43            4.76
Ewallet              318.82             15.18            4.76

–ì—ñ–ø–æ—Ç–µ–∑–∞ –Ω–µ –ø—ñ–¥—Ç–≤–µ—Ä–¥–∏–ª–∞—Å—å. –ê–Ω–∞–ª—ñ–∑ –ø–æ–∫–∞–∑–∞–≤, —â–æ –º–∞—Ä–∂–∏–Ω–∞–ª—å–Ω—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–∂—ñ–≤ —î —Å—Ç–∞–ª–æ—é –¥–ª—è –≤—Å—ñ—Ö –º–µ—Ç–æ–¥—ñ–≤ –æ–ø–ª–∞—Ç–∏, —â–æ —Å–≤—ñ–¥—á–∏—Ç—å –ø—Ä–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è —Ñ—ñ–∫—Å–æ–≤–∞–Ω–æ—ó –Ω–∞—Ü—ñ–Ω–∫–∏ –Ω–µ–∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ —Å–ø–æ—Å–æ–±—É –∑–¥—ñ–π—Å–Ω–µ–Ω–Ω—è –ø–æ–∫—É–ø–∫–∏. –†—ñ–∑–Ω–∏—Ü—è –≤ –ø—Ä–∏–±—É—Ç–∫–æ–≤–æ—Å—Ç—ñ –º—ñ–∂ –º–µ—Ç–æ–¥–∞–º–∏ –æ–ø–ª–∞—Ç–∏ –∑—É–º–æ–≤–ª–µ–Ω–∞ –Ω–µ –∑–º—ñ–Ω–æ—é –º–∞—Ä–∂—ñ, –∞ –≤—ñ–¥–º—ñ–Ω–Ω–æ—Å—Ç—è–º–∏ –≤ —Å–µ—Ä–µ–¥–Ω—å–æ–º—É —á–µ–∫—É —Ç–∞ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫. –¢–æ–±—Ç–æ –¥–æ—Ü—ñ–ª—å–Ω–æ —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ —Ä–∞—Ö—É–Ω–æ–∫ –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ –∞–±–æ —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É. (–¢–∞–∫ —è–∫ –º–µ—Ç–æ–¥ E-wallet –º–∞—î –≤–∏—Å–æ–∫–∏–π (–≤–∏—â–∏–π) —Ç—Ä–∞—Ñ—ñ–∫, —Ç–æ –≤–∞—Ä—Ç–æ –∑–æ—Å–µ—Ä–µ–¥–∏—Ç–∏—Å—å –Ω–∞ –Ω—å–æ–º—É —Ç–∞ —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –∑–±—ñ–ª—å—à–µ–Ω–Ω—è —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É.)

In [70]:
–ì—ñ–ø–æ—Ç–µ–∑–∞ 3. –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–∞ –Ω–∞–π–º–µ–Ω—à–µ –ø—Ä–æ–¥–∞—é—Ç—å—Å—è –ø—Ä–∏ –æ–ø–ª–∞—Ç—ñ —á–µ—Ä–µ–∑ E-wallet?

Object `wallet` not found.

In [71]:
ewallet_df =df[ df['payment_method'] == 'Ewallet']

In [72]:
ewallet_df['product_line'].value_counts(normalize = True).round(2)*100

product_line
Fashion accessories       19.0
Home and lifestyle        19.0
Food and beverages        16.0
Sports and travel         16.0
Health and beauty         15.0
Electronic accessories    15.0
Name: proportion, dtype: float64

–†–æ–∑–ø–æ–¥—ñ–ª –¥–æ—Å–∏—Ç—å —Ä—ñ–≤–Ω–æ–º—ñ—Ä–Ω–∏–π, –±–µ–∑ —Ä—ñ–∑–∫–∏—Ö –ø–µ—Ä–µ–∫–æ—Å—ñ–≤.
–ö–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ E-wallet –∫—É–ø—É—é—Ç—å —Ä—ñ–∑–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó.

In [73]:
ewallet_df.groupby('product_line').agg(
    purchases = ('invoice_id', 'count'),
    agr_revenue = ('revenue', 'mean'),
    arg_gross_income = ('gross_income', 'mean') 
).sort_values('arg_gross_income', ascending = False).round(2)

                        purchases  agr_revenue  arg_gross_income
product_line
Electronic accessories         53       343.01             16.33
Sports and travel              54       341.35             16.25
Home and lifestyle             64       332.65             15.84
Health and beauty              53       302.55             14.41
Food and beverages             56       298.19             14.20
Fashion accessories            65       297.80             14.18

–ù–∞–π–±—ñ–ª—å—à –≤–∏–≥—ñ–¥–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —á–µ—Ä–µ–∑ E-wallet: 'Electronic accessories' ‚Äî –Ω–∞–π–≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —ñ –ø—Ä–∏–±—É—Ç–æ–∫, –∞–ª–µ –∫—É–ø—É—é—Ç—å—Å—è —Ä—ñ–¥—à–µ, –∞ —Ç–∞–∫–æ–∂ 'Sports and travel' —Ç–∞ 'Home and lifestyle'. 
–ù–∞–π–º–µ–Ω—à –≤–∏–≥—ñ–¥–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —á–µ—Ä–µ–∑ E-wallet: 'Fashion accessories', 'Food and beverages' - –∫—É–ø—É—é—Ç—å—Å—è –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ, –∞–ª–µ –Ω–∞–π–º–µ–Ω—à –ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ.
–ê–Ω–∞–ª—ñ–∑ –ø—Ä–æ–¥–∞–∂—ñ–≤ –ø—Ä–∏ –æ–ø–ª–∞—Ç—ñ —á–µ—Ä–µ–∑ E-wallet –ø–æ–∫–∞–∑–∞–≤, —â–æ –Ω–∞–π–±—ñ–ª—å—à —á–∞—Å—Ç–æ –∫—É–ø—É—é—Ç—å—Å—è –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Fashion accessories' —Ç–∞ 'Home and lifestyle', –æ–¥–Ω–∞–∫ –≤–æ–Ω–∏ –Ω–µ —î –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏–º–∏ –∑ —Ç–æ—á–∫–∏ –∑–æ—Ä—É —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É —Ç–∞ –ø—Ä–∏–±—É—Ç–∫—É. –í–æ–¥–Ω–æ—á–∞—Å –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories' —Ç–∞ 'Sports and travel' —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏–∑—É—é—Ç—å—Å—è –≤–∏—â–∏–º —Å–µ—Ä–µ–¥–Ω—ñ–º —á–µ–∫–æ–º —ñ –ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—Å—Ç—é, –ø—Ä–æ—Ç–µ –∫—É–ø—É—é—Ç—å—Å—è –¥–µ—â–æ —Ä—ñ–¥—à–µ. –¶–µ —Å–≤—ñ–¥—á–∏—Ç—å –ø—Ä–æ –ø–æ—Ç–µ–Ω—Ü—ñ–∞–ª –¥–ª—è –∑–±—ñ–ª—å—à–µ–Ω–Ω—è —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É —à–ª—è—Ö–æ–º —Å—Ç–∏–º—É–ª—é–≤–∞–Ω–Ω—è –ø—Ä–æ–¥–∞–∂—ñ–≤ –±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Å–µ—Ä–µ–¥ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ–≤ E-wallet.